{% extends "components/base.html" %}
{% block extra_meta %}
<link rel="canonical" href="{{ url_for('main.index', _external=True) }}" />
{% endblock %}

{% block title %}Startpagina - Recepten{% endblock %}

{% block extra_css %}
    <style>
        @media (max-width: 576px) {
            div.jumbotron {
                padding: 2rem !important;
            }
            h1.display-4 {
                font-size: calc(0.9rem + 4.2vw);
            }
        }
    </style>
{% endblock extra_css %}

{% block content %}
<div class="jumbotron bg-light p-5 rounded-3 mb-4">
    <h1 class="display-4">Welkom bij het <span class="text-primary text-nowrap">Recepten Register</span></h1>
    <p class="lead">Sla op, deel en ontdek heerlijke recepten.</p>
    <hr class="my-4">
    <div class="mt-4">
        {% if current_user.is_authenticated %}
            {% if current_user.can_create_recipes %}
            <a class="btn btn-primary btn-lg" href="{{ url_for('recipes.add_recipe') }}" role="button">
                {% if not current_user.recipes %}
                    <i class="bi bi-plus-circle"></i> Voeg je eerste recept toe
                {% else %}
                    <i class="bi bi-plus-circle"></i> Voeg een nieuw recept toe
                {% endif %}
            </a>
            {% else %}
            <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('recipes.list_recipes') }}" role="button">Recepten bekijken</a>
            {% endif %}
        {% else %}
            <a class="btn btn-primary btn-lg me-2" href="{{ url_for('auth.register') }}" role="button">Begin</a>
            <a class="btn btn-outline-secondary btn-lg" href="{{ url_for('recipes.list_recipes') }}" role="button">Recepten bekijken</a>
        {% endif %}
    </div>
</div>

<h2 class="mb-4">Recente recepten</h2>
{% if recipes %}
<div class="recipe-grid">
    {% for recipe in recipes %}
        {% include 'components/recipe_card.html' with context %}
    {% endfor %}
</div>
{% else %}
                <div class="alert alert-info">
    <i class="bi bi-info-circle"></i> Nog geen recepten. Wees de eerste om er een toe te voegen!
</div>
{% endif %}

{% if recipes %}
<div class="text-center mt-4">
    <a href="{{ url_for('recipes.list_recipes') }}" class="btn btn-outline-primary">Bekijk alle recepten</a>
</div>
{% endif %}
{% endblock %}
